SCAN_POSTGRES_URL=postgres://gocanopy:gocanopy@127.0.0.1:5433/gocanopy
BANK_POSTGRES_URL=postgres://gocanopy:gocanopy@127.0.0.1:5433/gocanopy
PROJECTION_POSTGRES_URL=postgres://gocanopy:gocanopy@127.0.0.1:5433/gocanopy
VITE_API_URL=http://127.0.0.1:9080
